.center-main {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.panel-heading {background-color: #ffa72d !important}

.progress-bar {
    background-color: #ffa72d;
!important
}
.btn-primary {background-color: #ffa72d;   border-color: #ffa60c; !important}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled:hover
{
    background-color: #ff8d13;
    border-color: #ffa60c;!important
}

.btn-primary:hover,
.btn-primary:disabled:hover
{
    background-color: #ff8d13;
    border-color: #ffa60c;!important
}
.btn-primary:active:focus,
.btn-primary:disabled:focus{
    color: #ffffff;
    background-color: #ff8a04;
    border-color: #ff7e03;
}
.btn:focus,.btn:active {
    outline: none !important;
}
.progress {height: 34px !important;}
.panel > .panel-heading {
    color: white;
}

#showcase {
    margin: 0 20px;
    text-align: center;
}

#age {
    height: 20px;
    margin: 20px;
}

#value-span,
#value-input {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    margin: 0;
}
.required:after {
    content:" *";
    color: darkred;
}

#age .noUi-connect {
    background: #ff8a04;
}